services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "4317:4317"
      - "4318:4318"
      - "16686:16686"
    restart: unless-stopped
    networks:
      - notification-net

networks:
  notification-net:
    external: true