spring:
  application:
    name: tenant-service
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate.format_sql: true
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}
  jackson:
    time-zone: UTC
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  cache:
    type: redis

server:
  port: 8080
  servlet:
    context-path: /api/v1/tenants

grpc:
  server:
    port: 9090

management:
  tracing:
    sampling:
      probability: 1.0
    baggage:
      enabled: true
      remote-fields:
        - tenantId
      correlation:
        enabled: true
        fields:
          - tenantId

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{traceId}-%X{spanId}] %msg%n"
  level:
    org.example.tenantservice: DEBUG

app:
  jwtSecret: L3NlY3JldEtleUZvckF1dGhTZXJ2aWNlVGhhdElzVmVyeUxvbmdBbmRTZWN1cmUxMjM0NTY3ODkwMTIzNDU2Nzg5MA
  jwtExpirationMs: 86400000 # 1 day